@model List<ProductViewModel>
@{
    ViewData["Title"] = "ProductViewModel";
}

<h4>รายการขอใช้บริการ</h4>

    <div class="col-md-4">
        <form class="d-flex" asp-action="Create" asp-asp-controller="Product">
            <input name="paraHN" class="form-control me-1" type="text" placeholder="HN/QN" aria-label="Search">
            <button class="btn btn-dark" type="submit">Search</button>
        </form>
    </div>
    <div>
        <a asp-action="Index" class="text-dark">Back to Full List</a>
    </div>

<form method="post" enctype="multipart/form-data">
<table class="table">
    <thead>
        <tr>
            <th>QN</th>
            <th>ชื่อ-นามสกุล</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var i in Model)
        {
            <tr  style="color:black; @ViewBag.Title">
                <td>@i.hn</td>
                <td>@i.pname @i.fname @i.lname </td> 
            </tr>
        }
        
    </tbody>
</table>
</form>